<app-asset-table>
  <ng-template #content let-element>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Assets:
          <mat-card-subtitle>
            Inventarnummer:
          </mat-card-subtitle>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{element.Inventarnummer}}</p>
      </mat-card-content>

    </mat-card>

  </ng-template>

  <app-button-buch-asset-auf-asset-project footer></app-button-buch-asset-auf-asset-project>

</app-asset-table>
