mat-toolbar {
  justify-content: space-between;
}

#toolbar_icon{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#together{
  display: flex;
  justify-content: center;
  width: 100%;
  margin:10px;
}

#MenuTitle {
  padding-top:0px;
}
