<span class="material-icons"> groups </span>
<div [formGroup]="personal">
<!--  <mat-card-subtitle>Personal</mat-card-subtitle>-->
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Projekt Manager" formControlName="PM_1">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Projekt Manager" formControlName="PM_2">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Logistikkoordinator" formControlName="Logistikkoordinator">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Logistikkoordinator" formControlName="LK_1">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Logistikkoordinator" formControlName="LK_2">
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Zutrits Kontrolle" formControlName="ZuKo">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
