mat-form-field {
  margin-top: 20px;
}

.full-width-table {
  width: 80%;
  /*margin overall 30%*/
  margin: 0 auto;
}

.mdc-data-table__header-cell {
  padding: 0 8px 0 8px;
}


.Kommentar
{
  padding: 0 32px 0 32px;
}
.example-spacer {
  flex: 1 1 auto;
}

/*.mat-toolbar*/
/*{*/
/*  padding: 0 0 0 0;*/
/*  height: 80px;*/
/*  !*background: #424242;*!*/
/*}*/


table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-project-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  margin-top: 10%;
  margin-bottom: 10%;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

/*.big_block {*/
/*  !*width: 1500px;*!*/
/*  !*height: 500px;*!*/
/*  !*background-color: blue;*!*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: space-around;*/
/*  align-items: center;*/
/*}*/

/*.head_block {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: space-around;*/
/*  align-content: space-around;*/
/*  align-items: center;*/
/*  !*width:750px;*!*/
/*  !*height: 100px;*!*/
/*  !*background: aquamarine;*!*/
/*}*/

/*.flex_1 {*/
/*  flex: 1;*/
/*  margin-left: 8%;*/
/*  margin-right: 8%;*/
/*  margin-top: 8%;*/
/*  margin-bottom: 8%;*/
/*}*/

.flex_2 {
  flex: 2;
}

.flex_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty_vertical_space {
  height: 100px;
}

#filter {
  margin-top:15px;
}
