<div class="mat-elevation-z8">
  <table mat-table
         [dataSource]="dataSource"
         multiTemplateDataRows
         matSort (matSortChange)="announceSortChange($event)"
         class="mat-elevation-z8">


    <ng-container
      matColumnDef="{{column}}"
      *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="{{column}}">
        {{column}}
      </th>
      <td mat-cell *matCellDef="let element">
        {{element[column]}}
      </td>
    </ng-container>


    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">

        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

          <div class="big_block">
            <div class="head_block">
              <div class="flex_article">
                <app-article-details-compose [element]="element"></app-article-details-compose>
              </div>
              <div class="flex_1">
                <app-asset-detals-compose [element]="element"></app-asset-detals-compose>
              </div>
<!--              <div class="flex_1">-->
<!--                <ng-container *ngTemplateOutlet="content; context: { $implicit: element }"></ng-container>-->
<!--              </div>-->
            </div>

            <div class="head_block">
              <div class="flex_1">
                <button mat-icon-button (click)="open_the_dialog_for_deleting_artikel(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
            <div class="head_block">
              <div class="empty_vertical_space">
              </div>
            </div>
          </div>
        </div>

      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

  </table>


  <mat-paginator #paginator
                 [length]="dataSource.data.length"
                 [pageSize]="15"
                 [pageSizeOptions]="[5, 10, 15]"
                 aria-label="Select page">
  </mat-paginator>

  <mat-toolbar id="project_toll_bar">

    <mat-form-field id="filter">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <span class="example-spacer"></span>
    <ng-content select="[footer]"></ng-content>
<!--    <ButtonBuchAssetAufProjektComponent></ButtonBuchAssetAufProjektComponent>-->
  </mat-toolbar>


</div>
