
<mat-card class="detail">
  <mat-card-header>
    <mat-card-title>Detail</mat-card-title>
  </mat-card-header>
  <div>
    <mat-card-header>
      <mat-card-subtitle>Firma</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{firma}}</p>
    </mat-card-content>
    <mat-card-header>
      <mat-card-subtitle>Model</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{model}}</p>
    </mat-card-content>
    <mat-card-header>
      <mat-card-subtitle>Preis</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{preis}}</p>
    </mat-card-content>
    <mat-card-header>
      <mat-card-subtitle>Beschreibung</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{beschreibung}}</p>
    </mat-card-content>
    <mat-card-header>
      <mat-card-subtitle>Zustand</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{zustand}}</p>
    </mat-card-content>
  </div>
</mat-card>



