<div [formGroup]="article_numbers" class="shipping-card justify_even">
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Anlagenummer</mat-label>
        <input matInput placeholder="Anlagenummer" formControlName="anlagenummer">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Price</mat-label>
        <input matInput formControlName="preis">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Seriennummer</mat-label>
        <input matInput formControlName="serriennummer">
      </mat-form-field>
    </div>
  </div>
</div>
