.full-width-table {
  width: 80%;
  /*margin overall 30%*/
  margin: 0 auto;
}

.mdc-data-table__header-cell {
  padding: 0 8px 0 8px;
}

.Kommentar
{
  padding: 0 32px 0 32px;
}
.example-spacer {
  flex: 1 1 auto;
}

/*.mat-toolbar*/
/*{*/
/*  padding: 0 0 0 0;*/
/*  height: 80px;*/
/*  !*background: #424242;*!*/
/*}*/


