<form [formGroup]="artikelForm" novalidate >

  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Neues Asset Anlegen</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <app-asset-input-detail [asset_details]="assetDetails"></app-asset-input-detail>
      <app-asset-input-date [asset_dates]="assetDates"></app-asset-input-date>
      <app-asset-numbers-input [asset_numbers]="assetNumbers"></app-asset-numbers-input>
      <ng-content></ng-content>
    </mat-card-content>
  </mat-card>
</form>
