<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer  #drawer  [mode] = "'push'" >
    <app-expension-panell-kategorie></app-expension-panell-kategorie>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
<!--      <app-project-drop-down-menu></app-project-drop-down-menu>-->
      <span class="example-spacer"></span>
      <mat-card-title>Project:</mat-card-title>
      <mat-card-content>{{menu_title}}</mat-card-content>
      <span class="example-spacer"></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>




<mat-card *ngFor="let project of projects | async" class="example-card">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{project.ID}}</mat-card-title>
      <mat-card-subtitle>{{project.Standort}}</mat-card-subtitle>
    </mat-card-header>
</mat-card>


