<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'push'">
    <app-expension-panell-kategorie [drawerRef]="drawer"></app-expension-panell-kategorie>
  </mat-drawer>
  <mat-drawer-content  id="mat_drawer_content">
    <mat-toolbar>
      <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>table_rows_narrow</mat-icon>
      </button>

      <span class="example-spacer"></span>

<!--      <mat-card-title>Project:</mat-card-title>-->
      <mat-card-content>{{ menu_title }}</mat-card-content>
      <mat-icon>{{this.menu_icon}}</mat-icon>

      <span class="example-spacer"></span>

      <button mat-icon-button *ngIf="isadminuser" (click)="navigateToUsers()" matTooltip="Users" aria-label="Users">
        <mat-icon>people</mat-icon>
      </button>

      <button mat-icon-button (click)="navigateToHome()" matTooltip="Home" aria-label="Home">
        <mat-icon>home</mat-icon> <!-- Ensure mat-icon for home is lowercase -->
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>







