<mat-accordion>
  <mat-expansion-panel *ngFor="let kategorie of kategory_observeble | async; let i = index;" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{kategorie.kategoriename}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let subkategorie of kategorie.unterkategorie">
      <button
        mat-button
        [routerLink]="['/', kategorie.kategoriename]"
        [state]="{ unterkategoriename: subkategorie.unterkategoriename }"
      >
        {{subkategorie.unterkategoriename}}
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>

