<!-- First Card - Admin Credentials -->
<div class="head_block">
  <div class="flex_1">
    <mat-card class="details">
      <mat-card-header>
        <mat-card-title>Admin Daten</mat-card-title>
      </mat-card-header>
      <mat-card-header>
        <mat-card-subtitle>Konto Name</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{element.admin_konto_name}}</p>
      </mat-card-content>

      <mat-card-header>
        <mat-card-subtitle>Password</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{element.admin_konto_password}}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="flex_1">
    <!-- Second Card - User Credentials -->
    <mat-card class="details">
      <mat-card-header>
        <mat-card-title>User Daten</mat-card-title>
      </mat-card-header>

      <mat-card-header>
        <mat-card-subtitle>Konto Name</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{element.user_konto_name}}</p>
      </mat-card-content>

      <mat-card-header>
        <mat-card-subtitle>Password</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{element.user_konto_password}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
