<mat-accordion>
  <mat-expansion-panel *ngFor="let kategorie of kategory_observeble | async; let i = index;" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{kategorie.kategoriename}}
      </mat-panel-title>
<!--      <mat-panel-description>-->
<!--        This is a summary of the content-->
<!--      </mat-panel-description>-->
    </mat-expansion-panel-header>
    <div *ngFor="let subkategorie of kategorie.subkategorien">
      <p>{{subkategorie.unterkategoriename}}</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
