<div class="head_block">
  <div class="flex_1">
    <mat-card class="details">
      <mat-card-header>
        <mat-card-title>Acu Daten</mat-card-title>
      </mat-card-header>
      <mat-card-header>
        <mat-card-subtitle>Router</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{element.router}}</p>
      </mat-card-content>

      <mat-card-header>
        <mat-card-subtitle>IP-Adresse</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{element.ip_adresse}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
