<mat-card class="project_personal">
  <mat-card-header>
    <mat-card-title>Personal</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>

  <mat-card-header>
    <mat-card-subtitle>Logistikkoordiantoren</mat-card-subtitle>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{this.LK_1}}</p>
    <p>{{this.LK_2}}</p>
  </mat-card-content>

  <mat-card-header>
    <mat-card-subtitle>Projektmanager</mat-card-subtitle>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{this.PM_1}}</p>
    <p>{{this.PM_2}}</p>
  </mat-card-content>


  <mat-card-header>
    <mat-card-subtitle>Zutrittskontrolle</mat-card-subtitle>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{this.ZuKo}}</p>
  </mat-card-content>
</mat-card>
