<app-input-form-asset>
  <div class="full-width"></div>

  <div class="col">
    <form [formGroup]="extendedForm" novalidate (ngSubmit)="onSubmit()">

    <mat-form-field class="full-width">
      <mat-label>Inventarnummer</mat-label>
      <input matInput placeholder="Inventarnummer" formControlName="Inventarnummer" autocomplete="off" >
      <mat-error *ngIf="extendedForm.controls['Inventarnummer'].hasError('pattern')">
        Inventarnummer muss ein <strong>Nummer</strong> sein!
      </mat-error>
    </mat-form-field>

    </form>
  </div>


  <div class="full-width"></div>


</app-input-form-asset>


