<!--<app-input-form-asset>-->
<!--&lt;!&ndash;  <div class="full-width"></div>&ndash;&gt;-->

<!--&lt;!&ndash;  <div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;    <form [formGroup]="artikelForm" novalidate (ngSubmit)="onSubmit()">&ndash;&gt;-->

<!--&lt;!&ndash;    <mat-form-field class="full-width">&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-label>Inventarnummer</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;      <input matInput placeholder="Inventarnummer" formControlName="Inventarnummer" autocomplete="off" >&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-error *ngIf="extendedForm.controls['Inventarnummer'].hasError('pattern')">&ndash;&gt;-->
<!--&lt;!&ndash;        Inventarnummer muss ein <strong>Nummer</strong> sein!&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-form-field>&ndash;&gt;-->

<!--&lt;!&ndash;    </form>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;  <div class="full-width"></div>&ndash;&gt;-->
<!--&lt;!&ndash;  <p>something</p>&ndash;&gt;-->
<!--  <h1>somehting</h1>-->

<!--</app-input-form-asset>-->


<app-input-form-asset>

  <h1>
    osmething
  </h1>
</app-input-form-asset>
