

<!--<mat-card class="shipping-card">-->
<!--  <mat-card-header>-->
<!--    <mat-card-title>-->
<!--      Projekt {{project_to_delete.ID}} löschen.-->
<!--    </mat-card-title>-->
<!--    <mat-card-subtitle>-->
<!--    </mat-card-subtitle>-->
<!--  </mat-card-header>-->
<!--  <mat-card-content>-->
<!--    <div class="full-width">-->
<!--      <div class="row">-->
<!--        <div class="full-width"></div>-->
<!--        <div class="col">-->
<!--          <button  mat-raised-button color="primary" (click)="deleteProject()">Ja</button>-->
<!--        </div>-->
<!--        <div class="full-width"> </div>-->
<!--        <div class="col">-->
<!--          <button mat-raised-button mat-dialog-close cdkFocusInitial color="accent">Nein</button>-->
<!--        </div>-->
<!--        <div class="full-width"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </mat-card-content>-->
<!--</mat-card>-->

<h1 mat-dialog-title>Projekt löschen</h1>
<div mat-dialog-content>
        Möchtes du wirklich das Projekt mit dem Nummer:  {{project_to_delete.ID}}, löschen ?
</div>
<div mat-dialog-actions>
  @ts-ignore
  <button mat-raised-button mat-dialog-close color="warn" (click)="deleteProject()"> Ja </button>
  @ts-ignore
  <button mat-raised-button mat-dialog-close cdkFocusInitial>Nein</button>
</div>
