<!--<p>project-assets-detail works!</p>-->
<!--@Input() Auftragsart: string;-->
<!--@Input() Status: string;-->
<!--@Input() Netto_Auftragswert: string;-->

<!--<mat-card class="project_detail">-->
<!--  <mat-card-header>-->
<!--    <mat-card-title>Detail</mat-card-title>-->
<!--  </mat-card-header>-->
<!--  <div>-->
<!--    <mat-card-header>-->
<!--      <mat-card-subtitle>Auftragsart</mat-card-subtitle>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      <p>{{Auftragsart}}</p>-->
<!--    </mat-card-content>-->

<!--    <mat-card-header>-->
<!--      <mat-card-subtitle>Status</mat-card-subtitle>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      <p>{{Status}}</p>-->
<!--    </mat-card-content>-->

<!--    <mat-card-header>-->
<!--      <mat-card-subtitle>Auftragswert</mat-card-subtitle>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      <p>{{Netto_Auftragswert}}</p>-->
<!--    </mat-card-content>-->
<!--  </div>-->

<!--</mat-card>-->



<!--@Input()  firma: string;-->
<!--@Input()  model: string;-->
<!--@Input()  preis: string;-->
<!--@Input()  beschreibung: string;-->
<!--@Input()  zustand: string;-->

<mat-card class="project_detail">
  <mat-card-header>
    <mat-card-title>Detail</mat-card-title>
  </mat-card-header>
  <div>
    <mat-card-header>
      <mat-card-subtitle>Firma</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{firma}}</p>
    </mat-card-content>
    <mat-card-header>
      <mat-card-subtitle>Model</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{model}}</p>
    </mat-card-content>
    <mat-card-header>
      <mat-card-subtitle>Preis</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{preis}}</p>
    </mat-card-content>
    <mat-card-header>
      <mat-card-subtitle>Beschreibung</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{beschreibung}}</p>
    </mat-card-content>
    <mat-card-header>
      <mat-card-subtitle>Zustand</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{zustand}}</p>
    </mat-card-content>
  </div>
</mat-card>



