<!--<ng-container *ngFor="let Kategorien of Menu">-->
<!--  <button mat-button [matMenuTriggerFor]="animalMenu">{{ Kategorien.name }}</button>-->
<!--  <a routerLink="/{{ Kategorien.name | lowercase }}" routerLinkActive="active" mat-button>{{ Kategorien.name }}</a>-->
<!--  <mat-menu #animalMenu="matMenu" [hasBackdrop]="false">-->
<!--    <ng-container *ngFor="let subcategory of Kategorien.Kategorie">-->
<!--      <button mat-menu-item [matMenuTriggerFor]="subcategoryMenu">{{ subcategory.name }}</button>-->
<!--      <mat-menu #subcategoryMenu="matMenu">-->
<!--        <button *ngFor="let item of subcategory.SubKategorien" mat-menu-item>{{ item }}</button>-->
<!--      </mat-menu>-->
<!--    </ng-container>-->
<!--  </mat-menu>-->
<!--</ng-container>-->

<!--<a rowLink ="/projects" routerLinkActive="active" mat-button>Project Table</a>-->


<h1>Menu</h1>

<button (click)="getKategorieWithSubkategorie()">Get Kategorien</button>

<div *ngFor="let kategorie of kategory ">
  <h2>{{kategorie.kategoriename}}</h2>
  <div *ngFor="let subkategorie of kategorie.subkategorien">
    <h3>{{subkategorie.unterkategoriename}}</h3>
  </div>
</div>

