<form [formGroup]="artikelForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Neues Asset Anlegen</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <app-asset-input-detail [asset_details]="artikelForm.controls['asset_details']" ></app-asset-input-detail>
      <app-asset-input-date [asset_dates]="artikelForm.controls['date_info']"></app-asset-input-date>
      <app-asset-numbers-input [asset_numbers]="artikelForm.controls['asset_numbers']"></app-asset-numbers-input>


<!--      <div class="col">-->
<!--        &lt;!&ndash;      toDo: Aufstegende nachste Invenatummer als default fest legen&ndash;&gt;-->
<!--        <mat-form-field class="full-width">-->
<!--          <mat-label>Inventarnummer</mat-label>-->
<!--          <input matInput placeholder="Inventarnummer" formControlName="Inventarnummer" autocomplete="off" >-->
<!--          <mat-error *ngIf="this.assetForm.controls['Inventarnummer'].hasError('pattern')">-->
<!--            Inventarnummer muss ein <strong>Nummer</strong> sein!-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->
<!--      </div>-->

      <div [formGroup]="artikelForm.controls['asset_details']">
        <mat-form-field class="full-width">
          <mat-label>Beschreibung</mat-label>
          <textarea matInput formControlName="beschreibung"></textarea>
        </mat-form-field>
      </div>

      <div class="full-width">
        <div class="row">
          <div class="full-width"></div>
          <div class="col">
            <button  mat-raised-button color="primary" type="submit">Submit</button>
          </div>
          <div class="full-width"> </div>
          <div class="col">
            <button mat-raised-button [mat-dialog-close]="true" color="accent">Close</button>
          </div>
          <div class="full-width"></div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
